.home-category {
  background-color: white;
  padding: 10px;
}
.carousel-item ul{
  width: 100%;
  height: auto;
  padding-left: 5px;
}
.carousel-item ul li {
  display: block;
  list-style: none;
  width: 20%;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: top center;
  text-align: center;
  padding-top: 50px;
  color: #666;
  font-size: 14px;
  float: left;
}
.carousel-item ul li.jingdian {
  background-image: url("../img/1.png");
}
.carousel-item ul li.ktv {
  background-image: url("../img/1.png");
}
.carousel-item ul li.gouwu {
  background-image: url("../img/1.png");
}
.carousel-item ul li.shenghuofuwu {
  background-image: url("../img/1.png");
}
.carousel-item ul li.jianshenyundong {
  background-image: url("../img/1.png");
}
.carousel-item ul li.meifa {
  background-image: url("../img/1.png");
}
.carousel-item ul li.qinzi {
  background-image: url("../img/1.png");
}
.carousel-item ul li.xiaochikuaican {
  background-image: url("../img/1.png");
}
.carousel-item ul li.zizhucan {
  background-image: url("../img/1.png");
}
.carousel-item ul li.jiuba {
  background-image: url("../img/1.png");
}
.carousel-item ul li.meishi {
  background-image: url("../img/2.png");
}
.carousel-item ul li.dianying {
  background-image: url("../img/2.png");
}
.carousel-item ul li.jiudian {
  background-image: url("../img/2.png");
}
.carousel-item ul li.xuixianyule {
  background-image: url("../img/2.png");
}
.carousel-item ul li.waimai {
  background-image: url("../img/2.png");
}
.carousel-item ul li.huoguo {
  background-image: url("../img/2.png");
}
.carousel-item ul li.liren {
  background-image: url("../img/2.png");
}
.carousel-item ul li.dujiachuxing {
  background-image: url("../img/2.png");
}
.carousel-item ul li.zuliaoanmo {
  background-image: url("../img/2.png");
}
.carousel-item ul li.zhoubianyou {
  background-image: url("../img/2.png");
}
.carousel-item ul li.ribencai {
  background-image: url("../img/3.png");
}
.carousel-item ul li.SPA {
  background-image: url("../img/3.png");
}
.carousel-item ul li.jiehun {
  background-image: url("../img/3.png");
}
.carousel-item ul li.xuexipeixun {
  background-image: url("../img/3.png");
}
.carousel-item ul li.xican {
  background-image: url("../img/3.png");
}
.carousel-item ul li.huochejipiao {
  background-image: url("../img/3.png");
}
.carousel-item ul li.shaokao {
  background-image: url("../img/3.png");
}
.carousel-item ul li.jiazhuang {
  background-image: url("../img/3.png");
}
.carousel-item ul li.chongwu {
  background-image: url("../img/3.png");
}
.carousel-item ul li.quanbufenlei {
  background-image: url("../img/3.png");
}


.index-container {
  margin-top: 10px;
}
.index-container ul {width: 100%;
  height: auto;
  text-align: center;
  padding-left: 5px;
}
.index-container ul li {
  list-style: none;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #ccc;
  margin: 0 10px;
}
.index-container ul li.selected {
  background-color: rgb(233, 32, 61);
}
