.current{
    text-align: center;
    height: 80px;
    background-color: white;
    padding: 30px 0;
    font-size: 30px;
    border-bottom: 1px solid #f1f1f1;
}
.city-list{
    background-color: #fff;
    padding: 10px 15px 20px 15px;
}
.city-list h3 {
    font-size: 16px;
}

.city-list ul {
    display: block;
    width: 100%;
    padding-left: 10px;
}

.city-list ul li {
    list-style: none;
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
}
.city-list span {
    display: inline-block;
    border: 1px solid lime;
    font-size: 16px;
    line-height: 2;
    margin-top: 15px;
    width: 90%;
}
