.home-header{
    background-color: blueviolet;
    color: #fff;
    font-size: 20px;
    line-height: 3;
}
.search{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.ant-input{
    border-radius: 15px;

}
.setting{
    font-weight: bold;
}
.second-head{
    background-color: blueviolet;
    height: 60px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    position: relative;
}
.anticon-left:before{
    padding-top: 15px;
    padding-left: 5px;
}
.span{
    padding-left: 125px;
}