.img{
    float:left;
    padding: 10px 18px;
}
.item{
    width:100%;
    display: table;
    clear: both;

}
.detail{
    width:80%;
    margin-left: 30px;
    padding-top: 10px;
}
.subTitle{
    font-size: 18px;
    font-weight: 700;
}
.load-more {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    color: #999;
}
.star{
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}
.star-show{
    float:left;
    padding-right: 10px;
}

.light{
    color: red;
}
.price{
    color:gray;
    fontSize:18px;
    padding-left: 15px;
}
.list{
    padding-left: 14px;
}
.phone{
    font-size: 20px;
    font-weight: 800;
}
.comment{
    font-size: 16px;
    padding-left: 5px;
}
