.img{
    float:left;
    padding: 10px 18px;
}
.item{
    width:100%;
    display: table;
    content: '';
    clear: both;

}
.detail{
    width:80%;
    margin-left: 30px;
    padding-top: 10px;
}
.subTitle{
    font-size: 18px;
    font-weight: 700;
}