.img{
    float:left;
    padding: 10px 18px;
}
.item{
    width:100%;
    display: table;
    clear: both;

}
.detail{
    width:80%;
    margin-left: 30px;
    padding-top: 10px;
}
.subTitle{
    font-size: 18px;
    font-weight: 700;
}
.load-more {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    color: #999;
}
.star{
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}
.star-show{
    float:left;
    padding-right: 10px;
}

.light{
    color: red;
}
.price{
    color:gray;
    font-size:18px;
    padding-left: 15px;
}
.list{
    padding-left: 14px;
}
.phone{
    font-size: 20px;
    font-weight: 800;
}
.comment{
    font-size: 16px;
    padding-left: 5px;
}
.buy-item{
    display:table;
    clear:both;
    border-bottom: 1px solid gainsboro;
}
.buy-detail{
    font-size: 15px;
    margin: 0 130px;
    padding-top: 5px;
}
.buy-detail span {
    width:100px;
    color: #666;
    display: block;
    text-align: left;
    line-height: 1.8;
}
.buy-img{
    float:left;
    padding: 10px 18px;
}
.buy-comment{
    width: 100px;
    float:right;

}
.buy-comment button{
    width:80px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: deepskyblue;
    text-align: center;
    margin-top: 25px;
    border:0;
}
